[submodule "content/posts"]
	path = content/posts
	url = git@github.com:miaoyin/blog-notebook.git
[submodule "themes/ananke"]
	path = themes/ananke
	url = git@github.com:miaoyin/gohugo-theme-ananke.git
